<!-- <nav class="navbar navbar-light bg-light dex-nav">
  <a class="navbar-brand" href="#"><img src="https://img.icons8.com/plasticine/100/000000/pokeball.png" width="45"
      height="45"> Pokedex</a>
  <a routerLink="/cardlookup" routerLinkActive="active" class="tcg-link">Card Lookup</a>

  <form class="form-inline">
    <input class="form-control mr-sm-2" type="text" name="search" [formControl]="search"
      placeholder="Filter by Pokemon name..." aria-label="Search">
  </form>

</nav> -->
<div class="spinner-grow tcg-overlay" role="status" *ngIf="showOverlay">
  <span class="sr-only">Loading...</span>
</div>
<router-outlet></router-outlet>