$fire: orangered;
$flying: rgb(174, 184, 184);
$psychic: darksalmon;
$fairy: palevioletred;


.pkm-img {
    max-width: 100%;
    height: auto;
    text-align: center;
}

.name-entry {
    text-align: right;
}

// .dex-entry {
//     height: auto;
//     background: linear-gradient(30deg, $fire 50%, $flying 50%);
// }

.fire {
    color: white;
    background-color: orangered;
}

.flying {
    color: black;
    background-color: rgb(174, 184, 184);
}

.psychic {
    color: white;
    background-color: darksalmon;
}

.fairy {
    color: white;
    background-color: palevioletred;
}

.steel {
    color: white;
    background-color: steelblue;
}

.water {
    color: black;
    background-color: rgb(97, 97, 255);
}

.dark {
    color: white;
    background-color: rgb(22, 21, 21);
}

.fighting {
    color: white;
    background-color: #9c4206;
}

.electric {
    color: black;
    background-color: yellow;
}

.grass {
    color: white;
    background-color: green;
}

.poison {
    color: white;
    background-color: purple;
}

.ghost {
    color: white;
    background-color: rgb(46, 5, 48)
}

.ice {
    color: black;
    background-color: aquamarine;
}

.ground {
    color: black;
    background-color: burlywood;
}

.rock {
    color: black;
    background-color: rgb(218, 160, 35)
}

.bug {
    color: black;
    background-color: greenyellow;
}

.dragon {
    color: white;
    background-color: rgb(59, 43, 150);
}