<div class="container">
    <div class="alert alert-danger" *ngIf="errSet" role="alert">{{errorMessage}}</div>

    <!--Control Buttons (Filter, ViewDeck)-->
    <button type="button" data-toggle="modal" data-target="#search-modal" class="btn btn-raised btn-primary bmd-btn-fab
    tcg-search-btn"><span class="material-icons" data-toggle="tooltip" data-placement="top"
            title="View Card Filters">filter_list</span></button>
    <button type="button" data-toggle="modal" data-target="#view-deck-modal" class="btn btn-raised btn-primary bmd-btn-fab
    tcg-view-deck-btn"><span class="material-icons" data-toggle="tooltip" data-placement="top"
            title="View My Deck">list</span></button>


    <div class="row">
        <div class="col-md-3 tcg-card" *ngFor="let card of cards" style="width: 15em;">
            <a href="#" data-toggle="modal" [attr.data-target]="'#'+card.id"><img src="{{card.imageUrlHiRes}}"
                    class="card-img-top"></a>



            <div class="modal fade" [attr.id]="card.id" aria-labelledby="poke-info-label" aria-hidden="true">
                <div class="modal-dialog modal-lg tcg-modal" role="document">
                    <ng-container *ngIf="card.supertype == 'Pokémon'">
                        <div class="modal-content {{card.types[0]}}">
                            <ng-container *ngIf="msg">
                                <div class="alert alert-info alert-dismissable fade
                                                                show" role="alert">
                                    <strong>{{msg}}</strong>
                                    <button type="button" (click)="ack()" class="close" data-dismiss="alert"
                                        aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                            </ng-container>
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modal-body">
                                <img src="{{card.imageUrlHiRes}}" class="rounded
                                    float-left card-modal">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <span class="pkmn-name">{{card.name}}
                                            </span>
                                        </div>
                                        <div class="col-md-4">
                                            <span class="pkmn-name text-center">{{card.subtype}} {{card.supertype}}
                                            </span>
                                        </div>
                                        <div class="col-md-4">
                                            <span *ngFor="let type of
                                            card.types">
                                                <span class="energy-icon
                                            icon-{{type}} pkmn-hp">
                                                </span>
                                            </span>

                                            <span class="pkmn-hp pkmn-name">HP {{card.hp}}</span>

                                        </div>
                                    </div>
                                    <hr>
                                    <ng-container *ngIf="card?.ability">

                                        <div class="row">
                                            <div class="col-md-4"><span class={{card.ability.type}}></span></div>
                                            <div class="col-md-4"><span
                                                    class="text-{{card.ability.type}}">{{card.ability.name}}</span>
                                            </div>
                                            <div class="col-md-12"><span class="pkmn-name">{{card.ability.text}}</span>
                                            </div>
                                        </div>


                                    </ng-container>

                                </div>
                                <div class="container card-costs">
                                    <div class="row" *ngFor="let move of
                                        card.attacks">
                                        <div class="col-md-4">
                                            <span *ngFor=" let price of move.cost">
                                                <span class="energy-icon icon-{{price}} pkmn-cost"></span>
                                            </span>
                                        </div>

                                        <div class="col-lg-4">
                                            <span class="pkmn-move-name">{{move.name}}</span>
                                        </div>
                                        <div class="col-md-4">
                                            <span class="pkmn-move-damage">{{move.damage}}</span>
                                        </div>
                                        <div class="col-md-12">
                                            <span class="pkmn-name">{{move.text}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="container card-costs">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <span class="matchups">Weakness</span>
                                        </div>
                                        <div class="col-md-4">
                                            <span class="matchups">Resistance</span>
                                        </div>
                                        <div class="col-md-4">
                                            <span class="matchups">Retreat Cost</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <span *ngFor="let weak of
                                                    card.weaknesses">
                                                <span class="energy-icon
                                                        icon-{{weak.type}}
                                                        pkmn-cost"></span>

                                            </span>
                                            <ng-container *ngIf="card?.weaknesses">
                                                <span>{{card.weaknesses[0].value}}</span>
                                            </ng-container>
                                        </div>

                                        <div class="col-md-4">
                                            <span *ngFor="let resist of
                                                        card.resistances">
                                                <span class="energy-icon
                                                        icon-{{resist.type}}
                                                        pkmn-cost"></span>

                                            </span>
                                            <ng-container *ngIf="card?.resistances">
                                                <span>{{card.resistances[0].value}}</span>
                                            </ng-container>
                                        </div>
                                        <div class="col-md-4">
                                            <span *ngFor="let retreat of
                                                        card.retreatCost">
                                                <span class="energy-icon
                                                            icon-{{retreat}} pkmn-cost"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <ng-container *ngIf="deck.containsCard(card)">
                                    <button type="button" (click)="removeFromDeck(card)" class=" btn btn-primary"><span
                                            class="material-icons">remove_circle</span></button>
                                </ng-container>
                                <button type="button" (click)="addToDeck(card)" class="btn
                                        btn-primary"><span class="material-icons">add_circle</span></button>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="card.supertype == 'Trainer'">
                        <div class="modal-content {{card.supertype}}">
                            <ng-container *ngIf="msg">
                                <div class="alert alert-info alert-dismissable fade
                                                                    show" role="alert">
                                    <strong>{{msg}}</strong>
                                    <button type="button" (click)="ack()" class="close" data-dismiss="alert"
                                        aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                            </ng-container>
                            <div class="modal-header">

                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modal-body">
                                <img src="{{card.imageUrlHiRes}}" class="rounded
                                                float-left card-modal">
                                <div class="container">
                                    <div class="row">

                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <ng-container *ngIf="deck.containsCard(card)">
                                    <button type="button" (click)="removeFromDeck(card)" class=" btn btn-primary"><span
                                            class="material-icons">remove_circle</span></button>
                                </ng-container>
                                <button type="button" (click)="addToDeck(card)" class="btn
                                            btn-primary"><span class="material-icons">add_circle</span></button>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="card.supertype == 'Energy'">
                        <div class="modal-content {{card.supertype}}">
                            <ng-container *ngIf="msg">
                                <div class="alert alert-info alert-dismissable fade
                                                                    show" role="alert">
                                    <strong>{{msg}}</strong>
                                    <button type="button" (click)="ack()" class="close" data-dismiss="alert"
                                        aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                            </ng-container>
                            <div class="modal-header">
                                <h5 class="modal-title" id="poke-info-label">{{card.name}}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modal-body">
                                <img src="{{card.imageUrlHiRes}}" class="rounded
                                                float-left card-modal">
                            </div>
                            <div class="modal-footer">
                                <ng-container *ngIf="deck.containsCard(card)">
                                    <button type="button" (click)="removeFromDeck(card)" class=" btn btn-primary"><span
                                            class="material-icons">remove_circle</span></button>
                                </ng-container>
                                <button type="button" (click)="addToDeck(card)" class="btn
                                            btn-primary"><span class="material-icons">add_circle</span></button>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>



<!--View deck modal stuff-->
<div class="modal fade" id="view-deck-modal" aria-labelledby="view-deck-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="view-deck-modal">My Deck</h5>
                <button class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12" *ngFor="let card of deck.cardMap.keys()">
                        <p>{{card.name}} x {{deck.cardMap.get(card)}}</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Export to PTCGO</button>
            </div>
        </div>
    </div>
</div>



<!--Search modal stuff-->
<div class="modal fade" id="search-modal" aria-labelledby="search-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="search-modal-label">Card
                    Filtering</h5>
                <button class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="specific-mon">Specific Pokemon</label>
                        <input type="text" name="specificPokemon" [formControl]="specificPokemon" id="specific-mon"
                            class="form-control">
                        <label for="specific-set">Specific Set</label>
                        <input type="text" name="specificSet" [formControl]="specificSet" id="specific-set"
                            class="form-control">
                        <label for="specific-subtype">Specific Subtype</label>
                        <input type="text" name="specificSubtype" [formControl]="specificSubtype" id="specific-subtype"
                            class="form-control">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>