<div class="container">
    <div class="alert alert-danger" *ngIf="errSet" role="alert">{{errorMessage}}</div>

    <!--Control Buttons (Filter, ViewDeck)-->
    <button type="button" data-toggle="modal" data-target="#search-modal" class="btn btn-raised btn-primary bmd-btn-fab
    tcg-search-btn"><span class="material-icons" data-toggle="tooltip" data-placement="top"
            title="View Card Filters">filter_list</span></button>
    <button type="button" data-toggle="modal" data-target="#view-deck-modal" class="btn btn-raised btn-primary bmd-btn-fab
    tcg-view-deck-btn"><span class="material-icons" data-toggle="tooltip" data-placement="top"
            title="View My Deck">list</span></button>


    <div class="row">
        <div class="col-md-3 tcg-card" *ngFor="let card of cards" style="width: 15em;">
            <a href="#" data-toggle="modal" [attr.data-target]="'#'+card.id"><img src="{{card.imageUrlHiRes}}"
                    class="card-img-top"></a>

            <div class="modal fade" [attr.id]="card.id" aria-labelledby="poke-info-label" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <ng-container *ngIf="msg">
                            <div class="alert alert-info alert-dismissable fade
                                    show" role="alert">
                                <strong>{{msg}}</strong>
                                <button type="button" (click)="ack()" class="close" data-dismiss="alert"
                                    aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                        </ng-container>
                        <div class="modal-header">
                            <!-- Pokémon type-->
                            <ng-container *ngIf="card.supertype == 'Pokémon'">
                                <h5 class="modal-title" id="poke-info-label">{{card.name}}
                                    HP{{card.hp}}</h5>
                            </ng-container>
                            <!-- Trainer type-->
                            <ng-container *ngIf="card.supertype == 'Trainer'">
                                <h5 class="modal-title" id="poke-info-label">{{card.name}} </h5>

                            </ng-container>
                            <!-- Energy type-->
                            <ng-container *ngIf="card.supertype == 'Energy'">
                                <h5 class="modal-title" id="poke-info-label">{{card.name}}</h5>
                            </ng-container>

                            <button class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">

                            <ng-container *ngIf="card.supertype == 'Pokémon'">
                                <h5>Moves</h5>
                                <div *ngFor="let move of card.attacks">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div class="col-xs-2" *ngFor="let cost of move.cost">
                                                    <img src=" {{cost}}" width="30" height="30">
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <p class="lead">{{move.name}}</p>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="badge badge-primary
                                                text-wrap" style="width: 6rem;">
                                                    {{move.damage}}
                                                </div>
                                            </div>
                                        </div>
                                        <p>{{move.text}}</p>
                                    </div>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="card.supertype == 'Trainer'">
                                <h5>Effect </h5>
                                <div *ngFor="let effect of card.text">
                                    <p>{{effect}}</p>
                                </div>

                            </ng-container>
                        </div>
                        <div class="modal-footer">
                            <ng-container *ngIf="deck.containsCard(card)">
                                <button type="button" (click)="removeFromDeck(card)" class=" btn btn-primary"><span
                                        class="material-icons">remove_circle</span></button>
                            </ng-container>
                            <button type="button" (click)="addToDeck(card)" class="btn
                            btn-primary"><span class="material-icons">add_circle</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!--View deck modal stuff-->
<div class="modal fade" id="view-deck-modal" aria-labelledby="view-deck-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="view-deck-modal">My Deck</h5>
                <button class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12" *ngFor="let card of deck.cardMap.keys()">
                        <p>{{card.name}} x {{deck.cardMap.get(card)}}</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Export to PTCGO</button>
            </div>
        </div>
    </div>
</div>



<!--Search modal stuff-->
<div class="modal fade" id="search-modal" aria-labelledby="search-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="search-modal-label">Card
                    Filtering</h5>
                <button class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="specific-mon">Specific Pokemon</label>
                        <input type="text" name="specificPokemon" [formControl]="specificPokemon" id="specific-mon"
                            class="form-control">
                        <label for="specific-set">Specific Set</label>
                        <input type="text" name="specificSet" [formControl]="specificSet" id="specific-set"
                            class="form-control">
                        <label for="specific-subtype">Specific Subtype</label>
                        <input type="text" name="specificSubtype" [formControl]="specificSubtype" id="specific-subtype"
                            class="form-control">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>